spring:
  application:
    name: petcare

  datasource:
    url: jdbc:h2:mem:petcare;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.springframework.security: info
    org.hibernate.SQL: debug

server:
  port: 8080

app:
  jwt:
    secret: ${JWT_SECRET_BASE64:faJJ1JQFddaDGiwl6BOXixX95I1HGKbTYBjRWdxv4EY2}
    expiration-ms: 3600000
