@import "tailwindcss";

.page-container {
	@apply min-h-[calc(100vh-4rem-4rem)] bg-gradient-to-b from-sky-50 to-slate-50;
}

.page-content {
	@apply mx-auto max-w-6xl px-4 mb-10 sm:px-6 lg:px-8 flex flex-col gap-6;
}
